@font-face {
    font-family: "Lora", sans-serif;
    src: url(assets/font/Lora-Regular.woff);
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(assets/font/Poppins-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 16px;
}

.grid-1 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.grid-2 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
}

.grid-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
}

.grid-4 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
}

.grid-5 {
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
}

:root {
    --fa-font-weight-400: 400;
    --fa-font-weight-500: 500;
    --fa-font-weight-600: 600;
    --fa-font-weight-600: 800;
    --fa-font-size-11: 11px;
    --fa-font-size-12: 12px;
    --fa-font-size-13: 13px;
    --fa-font-size-14: 14px;
    --fa-font-size-15: 15px;
    --fa-font-size-16: 16px;
    --fa-font-size-19: 19px;
    --fa-font-size-20: 20px;
    --fa-font-size-21: 21px;
    --fa-font-size-22: 22px;
    --fa-font-size-26: 26px;
    --fa-font-size-30: 30px;
    --fa-font-size-43: 43px;
    --fa-font-size-63: 63px;
    --fa-list-style-none: none;
    --fa-text-decoration-none: none;
    --fa-position-relative: relative;
    --fa-position-absolute: absolute;
    --fa-color-FBE2DD: #FBE2DD;
    --fa-color-BF8596: #BF8596;
    --fa-color-F0C2C2: #F0C2C2;
    --fa-color-FFFFFF: #FFFFFF;
    --fa-color-000000: #000000;
    --fa-color-C7CEE5: #C7CEE5;
    --fa-color-FBE2DD: #FBE2DD;
    --fa-color-FBF6F4: #FBF6F4;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    line-height: 0;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.j-c-center {
    justify-content: center;
}

.a-i-center {
    align-items: center;
}

.t-a-center {
    text-align: center;
}

.t-a-left {
    text-align: left;
}

.dark-gray-btn,
.dark-pink-btn {
    font-family: Poppins;
    font-size: var(--fa-font-size-17);
    font-weight: var(--fa-font-weight-500);
    padding: 15px 45px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: var(--fa-text-decoration-none);
}

.dark-pink-btn {
    background-color: var(--fa-color-BF8596);
    color: var(--fa-color-FFFFFF);
}

.dark-gray-btn {
    background-color: var(--fa-color-C7CEE5);
    color: var(--fa-color-000000);
}

/*  announcement-bar-section  */

.announcement-bar-wrapper {
    background-color: var(--fa-color-FBE2DD);
    padding: 12px 0 14px;
}

.announcement-bar {
    position: var(--fa-position-relative);
}

.announcement-bar-icon {
    position: var(--fa-position-absolute);
    right: 0;
}

.announcement-bar-icon span {
    padding: 0 8px;
}

.announcement-bar-center-text {
    font-family: Lora;
    font-size: var(--fa-font-size-16);
    font-weight: var(--fa-font-weight-500);
}

/* header-section */

.header-wrapper {
    padding: 17px 0;
}

.header-logo a img {
    max-width: 258px;
}

.header-items ul {
    list-style: var(--fa-list-style-none);
}

.header-items ul li a {
    text-decoration: var(--fa-text-decoration-none);
    color: black;
    font-family: Poppins;
    font-size: var(--fa-font-size-19);
    font-weight: var(--fa-font-weight-500);
}

.header-icon {
    justify-content: end;
}

.header-icon a {
    padding-left: 10px;
}

.header-item a {
    padding: 0 28px;
}

/* ==================sidebar============================== */

.sidenav a {
    padding: 20px 30px;
    text-decoration: var(--fa-text-decoration-none);
    font-size: var(--fa-font-size-25);
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: var(--fa-position-absolute);
    top: 0;
    right: 25px;
    font-size: 36px;
}

#main {
    transition: margin-left .5s;
    display: none;
}

.header-wrapper {
    justify-content: space-between;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: -11px;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a,
.sidenav a svg {
    padding: 20px;
    text-decoration: var(--fa-text-decoration-none);
    font-size: var(--fa-font-size-25);
    font-family: poppins;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover .sidenav a {
    color: #454049;
    text-decoration: underline;
}

/********** mega-menu  *******/
.mega-grid {
    padding: 0 100px 0 0;
}

.mega-child-div a img {
    border-radius: 10px;
}

.header-wrapper .mega-drop {
    position: var(--fa-position-absolute);
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px;
    width: 100%;
    padding: 50px 0;
}

.header-items .header-item:hover .mega-drop {
    visibility: visible;
    opacity: 1;
}

.header-items .header-item:hover .header-item {
    cursor: pointer;
}

.header-items .header-item:hover {
    border-bottom: 2px solid var(--fa-color-BF8596);
}

.mega-link li {
    list-style: var(--fa-list-style-none);
    padding: 5px 0;
}

.mega-link li a {
    font-size: var(--fa-font-size-11);
}

.mega-link li a:hover {
    color: var(--fa-color-BF8596);
}

.mega-link-1 li {
    list-style: none;
}

.header--item .header-item:hover .header-item {
    border-bottom: 2px solid var(--fa-color-BF8596);
}

.mega-child-div .what-text a {
    color: var(--fa-color-000000);
    text-decoration: underline;
    font-family: Poppins;
    font-size: var(--fa-font-size-11);
    font-weight: var(--fa-font-weight-500);
}

.mega-child-div {
    padding: 0 20px;
}

/*** banner-section ***/

.banner-section {
    position: var(--fa-position-relative);
}

.banner-text {
    position: var(--fa-position-absolute);
    bottom: 40%;
}

.banner-section a img {
    width: 100%;
    height: auto;
    line-height: 0;
}

.banner-heading {
    font-family: Lora;
    font-size: var(--fa-font-size-63);
    font-weight: var(--fa-font-weight-400);
}

.banner-subheading {
    font-family: Poppins;
    font-size: var(--fa-font-size-22);
    font-weight: var(--fa-font-weight-500);
    margin-top: 15px;
}

.banner-button {
    margin-top: 30px;
    text-align: left;
}


/*** icon-with-text-section ***/
.icon-with-text-section {
    padding: 50px 0 70px;
}

.icon-with-text-wrapper {
    position: var(--fa-position-relative);
}

.icon--with--text {
    position: var(--fa-position-relative);
    text-align: center;
}

.icon--body {
    position: var(--fa-position-absolute);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 125px;
    height: 125px;
    position: var(--fa-position-relative);
    background-color: var(--fa-color-F0C2C2);
    border-radius: 50%;
}

.icon a svg {
    position: var(--fa-position-absolute);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.icon-info a svg {
    margin-top: -8%;
}

.icon-with-text-button {
    display: inline-block;
    position: var(--fa-position-absolute);
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-90deg)
}

/*** feature-collection-section ***/

.feature-collection-wrapper {
    padding: 35px 30px 90px;
}

.feature-collection {
    padding: 0 15px;
}

.feature-collection-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-collection-title {
    font-family: Lora;
    font-size: var(--fa-font-size-43);
    font-weight: var(--fa-font-weight-500);
    margin-bottom: 5px;
}

.btn a {
    font-family: Poppins;
    font-size: var(--fa-font-size-14);
    font-weight: var(--fa-font-weight-500);
    text-align: center;
    color: var(--fa-color-000000);
}

.feature-collection-text .title {
    font-family: Poppins;
    font-size: var(--fa-font-size-20);
    font-weight: var(--fa-font-weight-500);
    text-align: left;
    margin-top: 20px;
}

.feature-collection-text a {
    text-decoration: var(--fa-text-decoration-none);
}

.price {
    font-family: Poppins;
    font-size: var(--fa-font-size-14);
    font-weight: var(--fa-font-weight-400);
    text-align: left;
    margin-top: 5px;
}

.price span {
    color: var(--fa-color-F0C2C2);
}

.rating {
    margin-top: 10px;
}

.feature-collection-img {
    position: var(--fa-position-relative);
}

.feature-collection-img-bottom-btn {
    position: var(--fa-position-absolute);
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 15px;
}

.feature-collection-img-top-btn {
    position: var(--fa-position-absolute);
    top: 0;
    left: 0;
    padding: 15px;
}

.feature-collection-img-top-btn a {
    display: none;
}

.feature-collection-img-bottom-btn a {
    display: none;
    text-align: center;
}

.feature-collection-img:hover .feature-collection-img-top-btn a {
    font-family: Poppins;
    font-size: var(--fa-font-size-16);
    font-weight: var(--fa-font-weight-500);
    color: var(--fa-color-000000);
    background-color: var(--fa-color-FBE2DD);
    padding: 15px 22px;
    border-radius: 50px;
    text-decoration: var(--fa-text-decoration-none);
    display: block;
}

.feature-collection-img:hover .feature-collection-img-bottom-btn a {
    font-family: Poppins;
    font-size: var(--fa-font-size-16);
    font-weight: var(--fa-font-weight-500);
    color: var(--fa-color-000000);
    background-color: var(--fa-color-FBF6F4);
    padding: 15px;
    width: 100%;
    border-radius: 50px;
    text-decoration: var(--fa-text-decoration-none);
    display: block;
}

/*** text-section ***/

.text--wrapper-section {
    background-color: var(--fa-color-F0C2C2);
    padding: 60px;
}

.text--wrapper-title {
    font-family: Lora;
    font-size: var(--fa-font-size-43);
    font-weight: var(--fa-font-weight-500);
    color: var(--fa-color-FFFFFF);
}

.description {
    font-family: Lora;
    font-size: var(--fa-font-size-26);
    font-weight: var(--fa-font-weight-500);
    color: var(--fa-color-FFFFFF);
    margin-top: 30px;
}

/*** product-section ***/
.product-section {
    padding: 100px 0;
}

.product-wrapper-grid {
    margin-top: 15px;
}

.product-wrapper-text {
    padding: 0 165px 0 110px;
}

.product-heading {
    font-family: Lora;
    font-size: var(--fa-font-size-63);
    font-weight: var(--fa-font-weight-400);
    text-align: left;
}

.product-icon-text .product-text {
    font-family: Lora;
    font-size: var(--fa-font-size-30);
    font-weight: var(--fa-font-weight-500);
}

.product-icon {
    position: var(--fa-position-relative);
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: var(--fa-color-F0C2C2);
}

.product-icon a svg {
    position: var(--fa-position-absolute);
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.product-icon-body {
    width: 20%;
}

.product-icon-text {
    width: 80%;
}

.product-icon-btn {
    margin-top: 4%;
}

.product-wrapper-img {
    text-align: right;
}

.product-wrapper-img a img {
    max-width: 543px;
    border-radius: 10px;
}

/*** testimonial-section ***/

.testimonial-section {
    background-color: var(--fa-color-F0C2C2);
    padding: 90px;
}

.testimonial-heading-text {
    font-family: Lora;
    font-size: var(--fa-font-size-43);
    font-weight: var(--fa-font-weight-500);
}

.testimonial-wrapper {
    margin-top: 30px;
}

.testimonial-text {
    margin-top: 15px;
}

.testimonial-rating a {
    text-decoration: var(--fa-text-decoration-none);
}

.description-svg {
    margin-top: 15px;
}

.testimonial-content {
    padding: 0 50px;
}

.testimonial-description {
    font-family: Poppins;
    font-size: var(--fa-font-size-16);
    font-weight: var(--fa-font-weight-400);
}

/*** img-with-grid-section ***/

.img-with-grid-section {
    padding: 125px 0 100px;
}

.img-grid-btn {
    margin-top: 20px;
}

/*** logo-wrapper-section ***/

.logo-wrapper-section {
    background-color: var(--fa-color-F0C2C2);
    padding: 75px 0 115px;
}

.logo-wrapper-img {
    flex: 0 0 16.6%;
    max-width: 16.6%;
    width: 16.6%;
    padding: 0 35px;
}

.logo-wrapper-heading-text {
    font-size: var(--fa-font-size-43);
    font-weight: var(--fa-font-weight-500);
    margin-bottom: 40px;
    font-family: Lora;
}

/*** img-with-text-section ***/

.img-with-text-section {
    padding: 80px 0;
}

.img-with-text-content {
    padding: 0 125px 0 0;
}

.text-content-heading {
    font-size: var(--fa-font-size-43);
    font-weight: 500;
    font-family: Lora;
}

.text-content-description {
    font-family: Poppins;
    font-size: var(--fa-font-size-22);
    font-weight: var(--fa-font-weight-500);
    margin-top: 15px;
}

.img-with-text-btn {
    margin-top: 40px;
}

.img-with-text-img {
    text-align: right;
}

/*** img-with-text-grid-section ***/
.img-with-text-grid-section {
    padding: 75px 0;
    background-color: var(--fa-color-FBE2DD);
}

.img--with--grid--img a img {
    padding: 0 0 0 115px;
}

.img--with--text {
    padding: 0 100px;
}

.img--with--text-heading-text {
    font-size: var(--fa-font-size-63);
    font-weight: var(--fa-font-weight-400);
    font-family: Lora;
}

.img--with--text-description {
    font-size: var(--fa-font-size-16);
    font-weight: var(--fa-font-weight-400);
    font-family: Poppins;
    line-height: 2;
}

.img--with--text-heading strong {
    font-size: var(--fa-font-size-16);
    font-family: Poppins;
    line-height: 2;
}

.img--with--text-btn {
    margin-top: 10px;
}

.img--grid a img {
    padding: 0 15px;
}

/*** newsletter-section ***/

.newsletter-section {
    padding: 55px 25px 80px;
}

.newsletter-heading-text {
    font-size: var(--fa-font-size-43);
    font-weight: var(--fa-font-weight-500);
    margin-bottom: 10px;
    font-family: lora;
}

.newsletter-img {
    padding: 0 9px;
}

/*** footer-section ***/

.footer-section {
    background-color: var(--fa-color-F0C2C2);
    padding: 135px 0 50px;
}

.footer-about,
.footer-newsletter {
    flex: 0 0 30%;
    max-width: 30%;
    width: 100%;
}

.footer-about {
    padding: 0 90px;
}

.footer-menu {
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
    padding: 0 90px;
}

.footer-newsletter {
    padding: 0 90px;
}

.footer-head {
    font-family: Poppins;
    font-size: var(--fa-font-size-15);
    font-weight: var(--fa-font-weight-600);
}

.footer-text {
    font-family: Poppins;
    font-size: var(--fa-font-size-15);
    font-weight: var(--fa-font-weight-400);
}

.about-subtitle--text {
    margin-top: 15px;
}

.about-icon {
    margin-top: 30px;
}

.about-icon a {
    text-decoration: var(--fa-text-decoration-none);
    padding-right: 25px;
}

.footer-menu-items {
    list-style: var(--fa-list-style-none);
}

.footer-menu-heading {
    font-size: var(--fa-font-size-13);
    font-family: Poppins;
}

.footer-menu-items li a {
    text-decoration: var(--fa-text-decoration-none);
    color: var(--fa-color-000000);
    font-size: var(--fa-font-size-13);
    font-weight: var(--fa-font-weight-400);
    font-family: Poppins;
    line-height: 2;
}

.footer-head a {
    text-decoration: var(--fa-text-decoration-none);
    color: var(--fa-color-000000);
    font-weight: var(--fa-font-weight-800);
}

.footer-newsletter-white-btn {
    width: 100%;
    padding: 15px 0 15px 30px;
    font-family: Poppins;
    font-size: var(--fa-font-size-17);
    font-weight: var(--fa-font-weight-500);
    background-color: var(--fa-color-FFFFFF);
    display: inline-block;
    text-decoration: var(--fa-text-decoration-none);
    color: var(--fa-color-000000);
    border-radius: 50px;
    border: none;
}

.footer-newsletter-white-btn {
    margin-top: 10px;
}

.footer-newsletter-dark-btn {
    margin-top: 15px;
}

.footer-bottom {
    margin-top: 50px;
}

/****** about *****/

.banner--text {
    position: var(--fa-position-absolute);
    right: 0;
    left: 0;
    bottom: 40%;
    margin: auto;
    max-width: 755px;
}

.banner-title {
    font-family: Lora;
    font-size: 63px;
    font-weight: var(--fa-font-weight-400);
    text-align: center;
    color: #1F1F1F;
}

/*** text--wrapper ****/
.text-wrapper {
    padding: 75px 230px;
}

.text-wrapper-title-text {
    font-family: Lora;
    font-size: var(--fa-font-size-26);
    font-weight: var(--fa-font-weight-500);
    text-align: center;
    color: var(--fa-color-BF8596);
}

.text-wrapper-subtitle {
    font-family: Poppins;
    font-size: var(--fa-font-size-16);
    font-weight: var(--fa-font-weight-500);
    text-align: center;
    color: #1F1F1F;
}

/*** about-img-with-text ***/
.about-img-with-text {
    padding: 100px 0;
    background-color: var(--fa-color-FBE2DD);
}

.about--text h3 {
    font-family: Lora;
    font-size: var(--fa-font-size-43);
    font-weight: var(--fa-font-weight-500);
    margin-bottom: 40px;
}

.about--text {
    padding: 0 115px 0 90px;
}

.about--text p {
    font-family: Poppins;
    font-size: var(--fa-font-size-16);
    font-weight: var(--fa-font-weight-400);
    line-height: 2;
}

.about--text strong {
    font-family: Poppins;
    font-size: var(--fa-font-size-16);
    font-weight: var(--fa-font-weight-600);
}

/*** about-feature-collection ***/
.feature-collection-section {
    margin-top: 70px;
}

/*** product-page ***/
.product-page-section {
    padding: 50px;
}

.product-img a img {
    border-radius: 10px;
}

.product-img {
    padding: 0 0 0 100px;
}

.pro-img {
    width: auto;
    height: auto;
}

.product-text {
    width: 545px;
    padding: 0 115px 0 40px;
}

.product--center-content {
    position: var(--fa-position-relative);
}

.product--center-body {
    position: var(--fa-position-absolute);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    position: var(--fa-position-relative);
    background-color: var(--fa-color-F0C2C2);
    border-radius: 50%;
}

.product--center-icon a svg {
    position: var(--fa-position-absolute);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.product--center-wrapper {
    justify-content: space-between;
}

.product-text .rating a {
    text-decoration: none;
}

.product-text .rating {
    text-align: left;
}

.product-text h4 {
    font-family: Lora;
    font-size: var(--fa-font-size-43);
    font-weight: var(--fa-font-weight-500);
    padding-bottom: 15px;
}

.rating span {
    font-family: Poppins;
    font-size: var(--fa-font-size-14);
    font-weight: var(--fa-font-weight-400);
}

.product-text h2 {
    font-family: Poppins;
    font-size: var(--fa-font-size-26);
    font-weight: var(--fa-font-weight-500);
    padding-top: 20px;
}

.product-text p {
    font-family: Poppins;
    font-size: var(--fa-font-size-17);
    font-weight: var(--fa-font-weight-500);
    padding-top: 15px;
}

.product--icon span {
    font-size: var(--fa-font-size-13);
    font-weight: var(--fa-font-weight-400);
    margin-bottom: 20px;
}

.product-page-btn strong {
    font-family: Poppins;
    font-size: var(--fa-font-size-15);
    font-weight: var(--fa-font-weight-600);
}

.product--icon {
    border-bottom: 1px solid var(--fa-color-FBE2DD);
    margin-bottom: 35px;
}

.product--icon a {
    margin-bottom: 20px;
}

.product-page-pink-btn a,
.product-page-light-pink-btn a {
    text-decoration: var(--fa-text-decoration-none);
    padding: 15px 40px;
    border-radius: 50px;
    font-family: poppins;
}

.product-page-pink-btn a {
    color: var(--fa-color-FFFFFF);
    background-color: var(--fa-color-BF8596);
}

.product-page-light-pink-btn a {
    color: var(--fa-color-000000);
    background-color: var(--fa-color-FBE2DD);
}

.product-page-btn {
    gap: 10px;
    margin-bottom: 35px;
}

.product--page-list h5 {
    font-family: Poppins;
    font-size: var(--fa-font-size-15);
    font-weight: var(--fa-font-weight-600);
}

.product--page-list ul li a {
    text-decoration: var(--fa-text-decoration-none);
    font-family: Poppins;
    font-size: var(--fa-font-size-14);
    font-weight: var(--fa-font-weight-400);
    color: #1F1F1F;
}

.page-list {
    margin-bottom: 4%;
}

.product--page-list {
    border-bottom: 1px solid var(--fa-color-FBE2DD);
}

.page-list-btn a {
    text-decoration: var(--fa-text-decoration-none);
    padding: 15px;
    width: 100%;
    border-radius: 50px;
    font-family: poppins;
    color: var(--fa-color-FFFFFF);
    background-color: var(--fa-color-BF8596);
    display: inline-block;
    text-align: center;
}

.page-list-btn {
    padding: 50px 0;
}

.product-news-letter-heading h2 {
    font-family: Lora;
    font-size: var(--fa-font-size-43);
    font-weight: var(--fa-font-weight-500);
    margin-bottom: 3%;
}

.product-news-letter-wrapper {
    background-color: var(--fa-color-F0C2C2);
    padding: 90px 0 100px;
}

.product-news-letter-img {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    text-align: center;
    padding: 0 15px;
}

.pro-news-img {
    border-radius: 10px;
}

.product-news-letter-img h6 {
    font-family: Poppins;
    font-size: var(--fa-font-size-17);
    font-weight: var(--fa-font-weight-500);
}

.product {
    margin-top: 70px;
}

/** accordion **/
.accordion {
    width: 100%;
    margin: 2rem auto;
}

.accordion-item {
    background-color: transparent;
    color: #111;
    margin: 1rem 0;
}

.accordion-item-header {
    padding: 1rem 0;
    line-height: 2;
    display: flex;
    position: relative;
    cursor: pointer;
    font-family: Poppins;
    font-size: var(--fa-font-size-15);
    font-weight: var(--fa-font-weight-600);
    border-top: 1px solid var(--fa-color-F0C2C2);
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem 0;
    line-height: 1.5rem;
    border-top: 1px solid gray;
    font-family: Poppins;
    font-size: var(--fa-font-size-17);
    font-weight: var(--fa-font-weight-400);
}

/*** feature-slider ***/

.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
    font-size: 20px;
    color: var(--fa-color-000000);
}

.extra {
    padding: 30px 30px 100px;
}

/*** testimonial-slider ***/
.mySwip .swiper-button-next:after,
.mySwip .swiper-button-prev:after {
    font-size: 20px;
    color: var(--fa-color-000000);
}

/*** slike-slider ***/

.slider-nav a img {
    margin-top: 20px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
}

.slider-nav a img:hover {
    border: 2px solid black;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.slick--image a img {
    border-radius: 20px;
}